body {
    display: flex;
    flex-direction: column;
}
body h1 {
    display: block;
    margin: auto;
    font-size: xx-large;
}
img {
    opacity: 0;
    transition: all 1s;
}
img.in {
    opacity: 1;
}