header {
    background-color: purple;
}
.links {
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin: 75px;
    list-style-type: none;
    margin-top: 0;
}
li {
    padding: 5px;
}
h1 {
    padding-top: 30px;
}
h1, h2 {
    text-align: center;
}
#logoSample {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.hiddenImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.minCenter {
    margin-left:1%;
    margin-right: 1%;
}
ul {
    padding-inline-start: 0px;
}
a {
    color: whitesmoke;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-bottom: 40px;
}
.typoEx {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.persona {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hiddenImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
#colorScheme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
/* grid CSS */
.gridMain {
    display: block;
}
.mainColOne {
    grid-column: 1;
}
.mainColTwo {
    grid-column: 2;
}
.mainColThree {
    grid-column: 3;
}
.mainRow {
    grid-row: 2;
}
h2 {
    grid-row: 1;
}
ol li {
    padding-bottom: 20px;
}