@media screen and (min-width: 820px) {
    header {
        background-color: rgba(0, 0, 0, .15);
    }
    #headerGrid {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    header div img {
        grid-column: 1;
        grid-row: 1;
        position: relative;
        top: 10%;
        left: 10%;
    }
    header div h1 {
        grid-column: 2;
        grid-row: 1;
        margin-left: 2rem;
        text-align: center;
    }
    header p {
        display: block;
        text-align: center;
        position: relative;
        bottom: 2rem;
    }
    /* button css */
    nav {
        background-color: #eee;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    nav button {
        display: none;
    }
    nav ul li a {
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        color: #333;
    }
    nav ul li a:hover {
        background-color: rgba(0, 0, 0, .3);
    }
    header nav button span {
        display: none;
    }
    /* body wireframe */
    #comeMeetBanner {
        position: absolute;
        top: 47%;
        background-color: #28BBDA;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #comeMeetBanner p {
        text-align: center;
    }
    #bruce {
        display: none;
    }
    #mainGrid {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 360px 360px 360px;
        margin-bottom: 25px;
        position: relative;
    }
    #heroImage {
        width: 50%;
        height: 720px;;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: absolute;
        right: 25%;
        z-index: 6;
    }
    .mainPicture {
        display: none;
    }
    #newsPH {
        grid-row: 3;
        grid-column: 2;
        height: 360px;
        overflow: scroll;
    }
    .medDown #eventsPH {
        grid-row: 1;
        grid-column: 1;
        overflow: scroll;
        height: 345px;
    }
    .medDown #weatherPH {
        background-color: skyblue;
        grid-row: 2;
        grid-column: 1;
        height: 345px;
        overflow: scroll;
    }
    .medDown{
        display: inline;
    }
    .join {
        display: grid;
        grid-column: 1;
        grid-row: 3;
        overflow: scroll;
        height: 345px;
    }
    #bisPH {
        grid-column: 3;
        grid-row: 1/4;
    }
    #bisPH p {
        display: inline;
        font-size: medium;
        margin-bottom: 25%;
    }
    .bisGrid {
        display: inline;
    }
    .buisThree {
        display: inline;
        grid-row: 3;
    }
    main h2 {
        margin: 5%;
        text-align: center;
    }
    main div p {
        display: block;
        text-align: justify;
        margin: 5%
    }
    /* footer */
    footer {
        background-color: #adadad;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        align-content: space-evenly;
        align-items: stretch;
    }
    footer img{
        margin-top: 1rem;
    }
    footer a {
        margin-top: 1rem;
    }
    footer div {
        text-align: center;
        margin-top: .33rem;
    }
    /* discover CSS */
    #discoverGrid {
        display: grid;
        grid-template-columns: 1fr 2fr 3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 2%;
    }
    #discoverGrid img {
        width: 300px;
        height: 150px;
        object-fit: cover;
        transition: .5s;
    }
    #discoverGrid img:hover {
        height: 200px;
    }
    #discoverGrid p {
        text-align: justify;
    }
    .park40 {
        grid-row: 1;
    }
    .clubPark {
        grid-row: 2;
    }
    .glassPark {
        grid-row: 3;
    }
    .natPark {
        grid-row: 4;
    }
    .sjh {
        grid-row: 5;
    }
    .gridImg {
        grid-column: 2;
    }
    .gridP {
        grid-column: 3;
    }
    /* Join Page */
    #formHead {
        text-align: center;
    }
    fieldset {
        width: 80%;
        margin: auto;
    }
    input:valid {
        background-color: palegreen;
    }
    input:invalid {
        background-color: lightpink;
    }
    input {
        display: block;
        margin-bottom: 10px;
    }
    table {
        border-collapse: collapse;
        width: 80%;
    }
    th, td {
        text-align: center;
        border: solid 1px;
        width: 20%;
        max-width: 300px;
        font-size: smaller;
    }
    .sideTable {
        text-align: left;
    }
    table td ul li {
        padding-right: 20px;
        padding-bottom: 10px;
        text-align: left;
        position: relative;
        right: 15px;
    }
    .formBtn {
        padding: 44px;
    }
    #lastForm {
        border: solid 1px black;
    }
    #formEdit {
        margin-left: 25px;
    }
    button {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }
    /* thanks.html  */
    .thxStuff, h5 {
        text-align: center;
        padding: 75px;
    }
    /* directory page */
    #btnGrid {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr 4fr;
    }
    #btnGridOne {
        grid-column: 2;
    }
    #btnGridTwo {
        grid-column: 3;
    }
    .direBtn {
        width: 80px;
        margin: 5px;;
    }
    #btnGrid {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr 4fr;
    }
    #btnGridOne {
        grid-column: 2;
    }
    #btnGridTwo {
        grid-column: 3;
    }
    .direBtn {
        width: 80px;
        margin: 5px;;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    section {
        border: solid 3px black;
        border-radius: 15px;
        margin: 20px;
        background-color: #28BBDA;
    }
    section h2, h3, img, a {
        margin-left: 10px;
        transition: .25s;
    }
    section a {
        display: block;
        padding: 5px;
    }
    section a:hover {
        margin-left: 20px;
        color: white;
    }
    img {
        border-width: 10px;
        margin-bottom: 5px;
        margin-right: 10px;
        border-radius: 15px;
    }
    #loom-companion-mv3 {
        display: none;
    }
    /* directory btns */
    .list section {
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .list section:nth-child(even) {
        background-color: #D9D9D9;
    }
    .list section img{
        display: none;
    }
    .list section h2, h3, a {
        font-size: x-small;
    }
}