.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: slateblue;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    }
#WDD {
    position: relative;
    top: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    
}
#imageOfDaniel {
    grid-column: 2;
    grid-row: 1;
    width: 200px;
    filter: drop-shadow(5px 5px 5px #1a1a1a);
    margin-top: auto;
    margin-bottom: auto;
}
#h1 {
    position: relative;
    top: 60px;
    left: 10%;
    grid-column: 3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 4px #ffffff;
}
.main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#bodyUnderline {
    border-bottom: solid;
}
#quietText{
    text-align: center;
    color: gray;
    opacity: .75;
}
footer {
    color:#ffffff;
    padding: 0px 75px 20px 75px ;
    font-size: medium;
    background-color: slateblue;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#inlineP, #lastUpdated, #currentYear {
    display: inline;
}